doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles.css")
    title Nodejs
body
    h1(class="title") #{title}
    ul 
        each val in posts
            li #{ val.title } - #{ val.content } - #{ val.id }

    script(src="./script.js")
