extends base

block emailContent 
    p Hola se ha creado un nuevo post 
       p #{title}
        p This is a really simple email template. It&apos;s sole purpose is to get the recipient to click the button with no distractions.
        p Good luck! Hope it works.